{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}XS Nanjing Matrix{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-taget=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <sapn class="icon-bar"></sapn>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">XS Nanjing Matrix</a>
        </div>
        <div class="navbar-header pull-right">
            <a class="navbar-brand" href="http://xs-dashboards.eng.citrite.net/dashboard/file/xs-nanjing.json">XS Nanjing Dashboard</a>
        </div>
        <div class="navbar=collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}

        <form method="post" href="/commits">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <h3>Query:</h3>
            {{ wtf.quick_form(form) }}
        </form>

        <hr style="size: 20px; width: 80%; border-color: black;" align="left">

        <h3>{{ author }}: {{ total }} lines</h3>
        <form>
            <table border="1">
                <tr>
                    <th style="width: 10%;">Commit ID</th>
                    <th style="width: 10%;">Author</th>
                    <th style="width: 10%;">Repo</th>
                    <th style="width: 10%;">Date</th>
                    <th style="width: 20%;">Message</th>
                    <th style="width: 5%;">Line</th>
                </tr>
                {% for cmt in cmts %}
                    <tr {% if loop.index % 2 %}
                    style="background-color: paleturquoise"
                    {% endif %}>
                        <td><a href="https://code.citrite.net/projects/{{cmt.project}}/repos/{{cmt.repo}}/commits/{{cmt.commit_id}}">{{ cmt.commit_id[:16] }}</a></td>
                        <td>{{ cmt.author }}</td>
                        <td>{{ cmt.repo }}</td>
                        <td>{{ cmt.date }}</td>
                        {% if cmt.message|length > 30 %}
                            <td>{{ cmt.message[:30] }}...</td>
                        {% else %}
                            <td>{{ cmt.message}}</td>
                        {% endif %}
                        <td>{{ cmt.line }}</td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    <img src="static/commit_lines.png" style="width: auto; height: auto;">
        <br><br><br>
    <input type="button" value="Back" class="form-control" style="width: 70px; height: 30px" onclick="window.location.href='/'">
    {% endblock %}
</div>
{% endblock %}