{% extends "bootstrap/base.html" %}
{% block title %}XS Nanjing Matrix{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-taget=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <sapn class="icon-bar"></sapn>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">XS Nanjing Matrix</a>
        </div>
        <div class="navbar-header pull-right">
            <a class="navbar-brand" href="http://xs-dashboards.eng.citrite.net/dashboard/file/xs-nanjing.json">XS Nanjing Dashboard</a>
        </div>
        <div class="navbar=collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}
        <form>
            <table border="1">
                <tr>
                    <th>ticket ID</th>
                </tr>
                {% for cp in cps %}
                    <tr>
                        <td>
                            <a href="https://issues.citrite.net/browse/{{cp.key}}"> {{ cp.key }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </form>
        <br><br><br>
    <input type="button" value="Back" class="form-control" style="width: 70px; height: 30px" onclick="window.location.href='/query_ticket'">
    {% endblock %}
</div>
{% endblock %}