{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}XS Nanjing Matrix{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-taget=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <sapn class="icon-bar"></sapn>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">XS Nanjing Matrix</a>
        </div>
        <div class="navbar-header pull-right">
            <a class="navbar-brand" href="http://xs-dashboards.eng.citrite.net/dashboard/file/xs-nanjing.json">XS Nanjing Dashboard</a>
        </div>
        <div class="navbar=collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}
    <form>
        <h2>{{team}} Current Sprint Team Detail </h2>
        <table border="1" width="100%">
            <tr>
                <td rowspan="2" align="center"><b>Name</b></td>
                <td colspan="2" align="center"><b>Resolved</b></td>
                <td colspan="2" align="center"><b>UnResolved</b></td>
                <td rowspan="2" align="center"><b>Ratio</b></td>
            </tr>
            <tr>
                <td align="center"><b>Num</b></td>
                <td align="center"><b>Story Point</b></td>
                <td align="center"><b>Num</b></td>
                <td align="center"><b>Story Point</b></td>
            </tr>
        {% for member,ticket in r_tickets.items() %}
            <tr {% if loop.index % 2 %}
                style="background-color: paleturquoise;"
                {% endif %}>
                <td>{{member}}</td>
                {% if ticket['Resolved_num'] == 0 %}
                    <td>{{ticket['Resolved_num']}}</td>
                {% else %}
                <td><a href="https://issues.citrite.net/issues/?jql=id in ({{ticket['Resolved'].strip(',')}})">{{ticket['Resolved_num']}}</a></td>
                {% endif %}
                <td>{{ticket['Resolved_sp']}}</td>
                {% if ticket['UnResolved_num'] == 0 %}
                    <td>{{ticket['UnResolved_num']}}</td>
                {% else %}
                <td><a href="https://issues.citrite.net/issues/?jql=id in ({{ticket['UnResolved'].strip(',')}})">{{ticket['UnResolved_num']}}</a></td>
                {% endif %}
                <td>{{ticket['UnResolved_sp']}}</td>
                <td>{{ticket['Ratio']}}</td>
            </tr>
        {% endfor %}
            <tr style="background-color: red;">
                <td>Total</td>
                <td>{{total['Resolved_num']}}</td>
                <td>{{total['Resolved_sp']}}</td>
                <td>{{total['UnResolved_num']}}</td>
                <td>{{total['UnResolved_sp']}}</td>
                <td>{{total['Ratio']}}</td>
            </tr>
        </table>
    </form>

    <br><br>
    <h2>{{team}} All Sprints Team Data </h2>
    <table>
        <tr>
            <td align="center"><h3>CA resolved in numbers</h3></td>
            <td align="center"><h3>CP resolved in numbers</h3></td>
        </tr>
        <tr>
            <td>
                <img src="{{url_for('static', filename='CA_%s.png' % team, _t=val1)}}" style="width: 600px; height: 400px;">
            </td>
            <td>
                <img src="{{url_for('static', filename='CP_%s.png' % team, _t=val1)}}" style="width: 600px; height: 400px;">
            </td>
        </tr>
    </table>
    <br><br>
    <input type="button" value="Back" class="form-control" style="width: 70px; height: 30px" onclick="window.location.href='/current_sprint'">
    {% endblock %}
</div>
{% endblock %}